<div class="margins">
<h2>Price Data</h2>

  <table class="table table-dark table-sm">
    <tr>
      <th>Location</th>
      <th>Low Price</th>
      <th>High Price</th>
    </tr>
    <% @price_data.each do |p| %>
      <% if p.location != "N/A" %>
        <tr>
            <td><%= p.location %></td>
            <td><%= number_to_currency(p.adjusted_low_lot, precision: 0) %></td>
            <td><%= number_to_currency(p.adjusted_high_lot, precision: 0) %></td>
            <td><%= button_to 'Delete Record', p, method: :delete %></td>
        </tr>
      <% end %>

    <% end %>     
  </table>  
</div>