/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    background-color: black;
    color: whitesmoke;
}

.background-box {
    background-color: rgb(39,44,49);
    padding: 10px;
}
.margins {
    margin: 10px;
}
.thick-hr {
    border: none;
    height: 5px;
    background-color: black;
}

.hr {
    border: none;
    height: 2px;
    background-color: black;
}

#price-estimate {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
}

.totalbox {
    background-color: #cfc ;
    padding: 10px ;
    border-radius: 25px;
    text-align: center;
    font-size: 14pt;
    margin-bottom: 30px;
  }

.price-estimate-header {
    font-weight: bold;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}