<div id="price-estimate">
    
    <img src="http://www.clker.com/cliparts/0/4/0/4/1225770283668564458emyller_magnifying_glass.svg.med.png">

    <p>Estimate For: Joe Blow</p>

    <div class="thick-hr"></div>

    <p class="price-estimate-header">Land Estimate</p>
        <div class="hr"></div>
        <div>
        <p class="alignleft">Venice Beach</p>
        <p class="alignright">$ 1.2m - $ 2.5m</p>
        </div>
        <div style="clear: both; margin: 0pt"></div>
        
        <div class="hr"></div>
        <div>
        <p class="alignleft">Temecula</p>
        <p class="alignright">$ 2.2m - $ 4.3m</p>
        </div>
        <div style="clear: both; margin: 0pt"></div>

    <div class="totalbox"; style="background-color: rgb(73,216,112)">
        $ 1.2m - $ 4.3m
    </div>

    <div class="thick-hr"></div>

    <p class="price-estimate-header">Build Estimate</p>

    <p class="alignleft">Size of Build<p> 
    <p class="alignright">5,000 Square Feet</p>
    <div style="clear: both; margin: 0pt"></div>
    <div class="totalbox"; style="background-color: rgb(237,225,88)">
        $ 1.5m - $ 2m
    </div>

    <div class="thick-hr"></div>

    <p class="price-estimate-header">All-in Cost</p>

    <div class="totalbox"; style="background-color: rgb(0,0,0); color: rgb(255,255,255)">
        $ 2.7m - $ 6.3m
    </div>

    <%= button_to 'Generate Image', '/outputs/create_image', method: :post %>
</div>
